.cabecera{
    height: auto;

    color: purple;
    font-style: italic;
}

.tituloPrincipal{
    padding: 20px;
    
    font-family: 'Alfa Slab One', cursive;
    font-style:italic;
    font-size: 3rem;
    font-weight: bold;

    a{
        text-decoration: none;
        
        color: purple;
        font-family: 'Alfa Slab One', cursive;
        font-style:italic;
        font-size: 3rem;
        font-weight: bold;
    }
} 



